@model ClaimsReserving.Models.SuccessModel

    <p>The selected file @Model.Name has been successfully processed and the file @Model.OutputFileName is available in the OutputFile directory</p>

<a class="green button" asp-controller="Claims" asp-action="Index">Back to Home Screen</a>